@import '../../../styles/vars';

.product {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 370px;
  margin: 5px;
  padding-top: 20px;
  border-radius: 5px;
  background-color: $c-white;
  transition: box-shadow 0.25s cubic-bezier(.47,0,.75,.72),
    transform 0.25s,
  ;

  &:hover {
    -webkit-box-shadow: inset 2px 2px 2px 0 hsla(0,0%,100%,.5),
      7px 7px 20px 0 rgba(0,0,0,.1),
      4px 4px 5px 0 rgba(0,0,0,.1);
    box-shadow: inset 2px 2px 2px 0 hsla(0,0%,100%,.5),
      7px 7px 20px 0 rgba(0,0,0,.1),
      4px 4px 5px 0 rgba(0,0,0,.1);
    transform: scale(1.02);
  }

  &__foto {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }

  &__description {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    position: relative;
    text-align: initial;
    &::before {
      position: absolute;
      bottom: -10px;
      content: '';
      width: 28px;
      height: 2px;
      background-color: $c-orange;
    }
  }

  &__weight_units {
    text-align: initial;
    margin: 0;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  &__price {
    position: relative;
    font-weight: bold;
    color: $c-orange;
    &::before {
      position: absolute;
      right: -0.5rem;
      top: -0.5rem;
      font-size: 0.7rem;
      content: '$',
    }
  }

  &__special_price {
    color: $c-lightRed;
    width: max-content;
    margin: 0 auto;
    padding: 3px;
    border-radius: 5px;
    font-weight: 700;
  }
}
