//colors
$c-mainBackground: #f9f9f9;
$c-orange: #ff8522;
$c-white: #fff;
$c-blackBorder: #000;
$c-black: #000;
$c-lightRed: #ff5722;
$c-specialRed: #f44336;
$c-lightBorder: #f5f5f5;

//width
$w-large: 1600px;
$w-medium: 1200px;