@import '../../styles/vars';
@import '../../styles/mixins';

.header {
  &__title {
    display: inline-block;
  }

  &__button {
    position: relative;
    @include button-colored(180px,50px, $c-orange);
    color: $c-white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
  }

  &__button::before {
    display: block;
    position: absolute;
    left: 30px;
    top: 1em;
    content: ' ';
    background-image: url('../../images/cart.svg');
    background-size: 23px 23px;
    height: 23px;
    width: 23px;

  }
}